.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-enter-btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  margin-top: 30px;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #431f65;
  -webkit-box-reflect: below 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.home-enter-btn:active {
  scale: 0.92;
}

.home-enter-btn:hover {
  background: rgb(44, 2, 78);
  background: linear-gradient(
    270deg,
    rgba(41, 2, 78, 0.681) 0%,
    rgba(158, 31, 232, 0.873) 60%
  );
  color: rgb(4, 4, 38);
}

.main-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 190px;
  height: 254px;
  background-image: linear-gradient(163deg, #9900ff 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
}

.sub-card {
  width: 190px;
  height: 254px;
  background-color: #1a1a1a;
  border-radius: 20px;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-card:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.main-card:hover {
  box-shadow: 0px 0px 30px 1px rgba(132, 0, 255, 0.3);
}


