.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 20px;
}

#signup-heading {
  text-align: center;
  margin: 2em;
  color: white;
  font-size: 1.2em;
}

.signup-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
  border-radius: 25px;
  padding: 0.8em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.signup-input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: #6e25c0;
}

.signup-input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: white;
}

.signup-form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.signup-button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-image: linear-gradient(163deg, #2a1ad8 0%, #7231ec 100%);
  color: white;
}

.signup-button2:hover {
  background-image: linear-gradient(163deg, #6518bd 0%, #2225df 100%);
  color: white;
}

.signup-card {
  background-image: linear-gradient(163deg, #6e25c0 0%, #0044ff 100%);
  border-radius: 22px;
  transition: all 0.3s;
  text-align: center;
  max-width: 27vw;
  margin: auto;
  margin-top: 80px;
}

.signup-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.signup-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.signup-card:hover {
  box-shadow: 0px 0px 30px 1px #6e25c0;
}

body {
  background-color: #000000;
  width: 100vw;
}

@media only screen and (max-width: 480px) {
  .signup-card {
    max-width: 100vw;
  }
}
